# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
venv_testing/

# Jupyter
.ipynb_checkpoints/

# Raw UAV data
data/raw/*

# patches
data/

# too large
results/classification_maps/Msimbazi_Merged_ycbr_classified.gpkg

# other files
yolov6_training.ipynb
overview.py

